body {
  font-family: Arial, Helvetica, sans-serif;
}

#outerShell {
  display: none;
}

@media screen and (min-width: 1200px) {
  #mobile-table-view {
    display: none;
  }
  #outerShell {
    display: block;
    max-width: 1200px;
    border: solid 1px #000000;
    margin: auto;
  }
  #imageCon {
    position: relative;
    max-width: 1200px;
    height: 100vh;
  }
  .slideImage {
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
  }
  .image-right {
    background: url(../images/x-ray_v.1.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  .image-left {
    background: url(../images/earbuds.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 70%;
    background-attachment: fixed;
  }
  .image-drag {
    background-color: rgba(0, 0, 0, 0.7960784314);
    left: 70%;
    width: 4px;
    cursor: pointer;
  }
}
model-viewer {
  width: 80%;
  height: 100%;
  background-color: rgba(213, 213, 213, 0.6901960784);
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.Hotspot {
  background: url(//images/hotspot.svg) center no-repeat;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  padding: 8px;
  display: none;
  transition: all 1s ease-in-out;
  width: 30px;
}

.Hotspot:not([data-visible]) {
  opacity: 0;
  pointer-events: none;
}

.Hotspot:focus {
  border: 4px solid rgb(0, 128, 200);
  height: 32px;
  outline: none;
  width: 32px;
}

.Hotspot > * {
  opacity: 1;
  transform: translateY(-50%);
}

.HotspotAnnotation {
  opacity: 0;
  background: rgba(1, 0, 44, 0.6588235294);
  border-radius: 4px;
  box-shadow: 0 5px 7px rgba(6, 0, 88, 0.416);
  color: rgb(255, 255, 255);
  display: block;
  font-family: Helvetica Neue, sans-serif;
  font-size: 13px;
  font-weight: 400;
  left: calc(100% + 1em);
  max-width: 200px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: -moz-max-content;
  width: max-content;
}

.Hotspot p {
  margin-bottom: 20px;
}

.Hotspot:not([data-visible]) > * {
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc(-50% + 4px));
  transition: transform 0.3s, opacity 0.3s;
}

.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

/* AR Rules */
#ar-button {
  background-image: url(//images/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#main-header #global-nav {
  height: 50px;
  background-color: rgb(0, 0, 0);
  z-index: 100;
  position: sticky;
}
#main-header #global-nav #burger-con {
  height: 50px;
  position: absolute;
  display: block;
  padding-left: 90%;
  z-index: 100;
  background: none;
  border: none;
  cursor: pointer;
}
#main-header #global-nav #burger-con:hover {
  transition: all 0.2s ease-in-out;
  color: #b8b8b8;
}
#main-header #global-nav #burger-con #burger {
  width: 30px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
}
#main-header #global-nav #burger-con.active #burger {
  transform: rotate(90deg);
}
#main-header #header-logo {
  width: 20px;
  height: 30px;
  position: absolute;
  z-index: 100;
  margin-top: 10px;
  margin-left: 10px;
}
#main-header #globalnav-con {
  display: none;
}
#main-header button.expanded {
  position: absolute;
  z-index: 99;
  transition: height 0.7s ease-in-out;
}
#main-header #globalnav-con.slide-toggle {
  display: block;
  height: 0vh;
  width: 100vw;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  margin-top: 50px;
  background-color: rgb(18, 18, 18);
  overflow: hidden;
}
#main-header #globalnav-con.slide-toggle.active {
  height: 100vh;
}
#main-header #globalnav-con ul li {
  width: 25rem;
  height: 3.125rem;
  display: flex;
  margin-top: 3rem;
  margin-left: 5rem;
  font-size: 16px;
}
#main-header #globalnav-con ul li:hover {
  transition: all 0.7s ease-in;
  border-bottom: 1px solid #dadada;
}
@media (min-width: 744px) {
  #main-header #burger {
    margin-left: 90%;
  }
}
@media (min-width: 1200px) {
  #main-header #header-logo {
    margin-right: 30px;
  }
  #main-header #burger-con {
    display: none !important;
  }
  #main-header #globalnav-con {
    display: inline;
    position: relative;
  }
  #main-header #globalnav-con ul {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 110px;
  }
  #main-header #globalnav-con ul li {
    padding: 0.25rem 0 0 0;
    margin-top: 0px;
    font-size: 14px;
  }
  #main-header:hover {
    transition: all 0.7s ease-in;
    border-bottom: 3px solid #ededed;
  }
}

#sticky-nav {
  position: sticky;
  top: 0;
  background-color: rgba(243, 243, 243, 0.8980392157);
  box-shadow: 5px 1px rgba(225, 225, 225, 0.8);
}
#sticky-nav .localnav-con {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px;
}
#sticky-nav .localnav-con #localnav-title {
  margin-left: 5px;
  color: #090909;
}
#sticky-nav .localnav-con .local-menu-items {
  display: flex;
  justify-content: space-around;
  margin-left: calc(50px + max(200px, env(safe-area-inset-right)));
}
#sticky-nav .localnav-con .local-menu-items:last-child {
  margin-left: 20px;
}
#sticky-nav .localnav-con .local-menu-items a {
  color: rgb(20, 20, 20);
}
#sticky-nav .localnav-con .local-button {
  background-color: rgba(11, 11, 11, 0.879);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  margin-right: calc(20px - max(10px, env(safe-area-inset-right)));
  border-radius: 12px;
  font-size: 12px;
}
@media (min-width: 1200px) {
  #sticky-nav .localnav-con .local-button {
    font-size: 14px;
  }
}
#sticky-nav .localnav-con .local-button:hover {
  transition: all 0.7s ease-in;
  box-shadow: inset 0rem -3rem 0rem #fff;
}
#sticky-nav .localnav-con .local-button:hover a {
  transition: all 0.7s ease-in;
  color: #090909;
}

#main-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #151515;
  color: #fff;
  text-align: center;
}
#main-footer .socialMedia-icons {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
#main-footer .socialMediaIcon {
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

#explode-view {
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  transition: all 0.3s ease-in-out;
  color: #cfcfcf;
}

body {
  background-color: #000000;
  color: rgba(246, 247, 255, 0.9725490196);
}

.section {
  text-align: center;
}
.section #hero-img {
  font-size: 1.875rem;
}
.section #hero-title {
  font-size: 50px;
  font-weight: 700;
}
.section #value-props-text {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 20px;
  text-align: center;
}
.section #value-props-text #value-t-1 {
  font-size: 40px;
}
.section #value-props-text #value-t-2 {
  font-size: 30px;
}
.section #sound-effect {
  margin-top: 1.875rem;
}
.section #sound-effect-img {
  border-radius: 0 6.25rem 0 0;
  margin: 1.25rem;
}
.section #sound-effect-text {
  margin: 1.25rem;
  padding: 3rem;
  height: 21.875rem;
}
.section #sound-effect-text h4 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.section .mockups {
  margin: 1.25rem;
}
.section #promo-value-props {
  padding: 5rem;
  line-height: 25px;
  font-size: 20px;
}
.section #mockUp-img-2 {
  margin-bottom: 6rem;
}
.section #spec-noice-t, .section #inner-spec-t {
  padding-left: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.section #spec-noice-t h4 {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.section #spec-noice-t p {
  text-align: left;
  font-size: 13px;
}
.section #inner-spec-t h4 {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.section #inner-spec-t p {
  text-align: left;
  font-size: 13px;
}
.section #buds-ar {
  height: 30rem;
}
.section #buds-color-option ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  color: #1f1f1f;
  margin-top: 1.875rem;
}
.section #buds-color-option ul li {
  height: 4rem;
  width: 4rem;
  border-radius: 2.5rem;
  padding-top: 1rem;
  text-align: center;
}
.section #buds-color-option ul li:hover {
  transition: all 0.2s ease-in-out;
  border: #424242 0.1875rem solid;
}
.section #canvas {
  margin-top: 100px;
}
.section #promo-reel {
  margin-top: 3.125rem;
  margin-bottom: 100px;
}/*# sourceMappingURL=main.css.map */