


#main-footer {
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: #151515;

   color: #fff;
   text-align: center;

   .socialMedia-icons {
      margin-top: 30px;
   display: flex;
   justify-content: space-evenly;
   }

   .socialMediaIcon {
      height: 40px;
      width: 40px;
      border-radius: 40px;
   }
}