@import"../abstracts/variables.scss";
@import '../abstracts/mixins.scss';

#main-header
{ #global-nav 

   {
      height: 50px; 
      background-color: rgb(0, 0, 0); 
      z-index: 100;
      position: sticky;

      #burger-con { 
      height: 50px;  
      position: absolute;
      display: block;
      padding-left: 90%;
      z-index: 100;

      background: none;
      border: none;
      cursor: pointer;

      &:hover {
         transition: all .2s ease-in-out;
         color: #b8b8b8;
      }
      #burger {
         width: 30px;
         height: 40px;
         position: relative;
         display: flex;
         justify-content: center;
         transition: transform 0.3s ease; 
      }
       }
       
       #burger-con.active #burger {
         transform: rotate(90deg);
       }
       
      }

      #header-logo {
         width: 20px;
         height: 30px;
         position: absolute;
         z-index: 100;
         margin-top: 10px;
         margin-left: 10px;
      }

      #globalnav-con {
      display: none;
      }


      button.expanded {
      position: absolute;
      z-index: 99; 
      transition: height 0.7s ease-in-out;

      }

      #globalnav-con.slide-toggle {
      display: block;
   
      height: 0vh;
      width: 100vw;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      margin-top: 50px;
      background-color: rgb(18, 18, 18);
      overflow: hidden;
      }

       
       #globalnav-con.slide-toggle.active {
         height: 100vh;
       }


      

      #globalnav-con ul li {
      width: 25rem;
      height: 3.125rem;
      display: flex;
   
   
      margin-top: 3rem;
      margin-left: 5rem;
      
      font-size: 16px;

      &:hover {
         transition:all .7s ease-in;
         border-bottom: 1px solid #dadada;
      }
      }

      @include tablet{ 
         #burger { 
            margin-left: 90%;
            }
      }


      @include desktop{ 

         #header-logo {
            margin-right: 30px;
         }
         #burger-con { 
            display: none !important;
            }

         #globalnav-con {
            display: inline;
            position: relative;
         }

         #globalnav-con ul {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            margin-left: 110px;
         }

      #globalnav-con ul li {

         padding: 0.25rem 0 0  0;
         margin-top: 0px;
         font-size: 14px;
         }
   
         &:hover {
            transition:all .7s ease-in;
            border-bottom: 3px solid #ededed;
         }
      }  
   }

   #sticky-nav {
   position: sticky;
   top: 0; 
   background-color: #f3f3f3e5;
   box-shadow: 5px 1px rgba(225, 225, 225, 0.8);
      
   .localnav-con {
      display: flex;

      justify-content: space-between;
      align-items: flex-end;
      padding: 5px;

      #localnav-title {
         margin-left: 5px;
         color: #090909;
      }

      .local-menu-items{
         display: flex;
         justify-content: space-around;

         margin-left: calc(50px + max(200px,calc(env(safe-area-inset-right))));

         &:last-child {
            margin-left: 20px;
         }
         a {
            color: rgb(20, 20, 20);
         }
      }

      .local-button {
         background-color: rgba(11, 11, 11, 0.879);
         padding: 5px;
         padding-left: 10px;
         padding-right: 10px;
         margin-right: 5px;
         margin-right: calc(20px - max(10px,calc(env(safe-area-inset-right))));

         border-radius: 12px;
         font-size: 12px;

         @include desktop {
            font-size: 14px;
         }

         &:hover {
            transition:all .7s ease-in;
            box-shadow: inset 0rem -3rem 0rem #fff;
            a {
               transition:all .7s ease-in;
               color: #090909;
            }
         }
      }
   }

}

