@import"../abstracts/variables.scss";
@import '../abstracts/mixins.scss';

#main-header
   { #global-nav 

      {
      height: 30px;  

      #burger { 
      background: none;
      border: none;
      margin-top: 3px;
      margin-left: 92%;
      cursor: pointer;

      &:hover {
         transition: all .3s ease-in-out;
         color: #cfcfcf;
      }
      }

      #globalnav-con {
      display: none;
      }

      .main-logo {
         margin-top: 10px;
         margin-left: 10px;
      }

      button.expanded {
      position: absolute;
      z-index: 100;
      }

      #globalnav-con.slide-toggle {
      display: block;
   
      height: 100vh;
      width: 100vw;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      background-color: black;
      }

      #globalnav-con ul li {
      width: 25rem;
      height: 3.125rem;
      display: flex;
      padding: 0.625rem 0 0.625rem 0;
   
      margin-top: 3rem;
      margin-left: 6.25rem;


      }

      @include tablet{ 
         #burger { 
            margin-left: 95%;
            }
      }  

      @include desktop{ 
         #burger { 
            display: none;
            }

            #header-logo {
               width: 100px;
            }

         #globalnav-con {
            display: block;
         }
         
      }  
   }

   .localnav-con {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      padding: 5px;


      .local-menu-items {
         display: flex;
         margin-left: 20%;
         :first-child {
            margin-right: 20px;
            
         }

         @include tablet{ 
            margin-left: 160%;
         }  
         @include desktop{ 
            margin-left: 320%;
         }  
      }

      .local-button {
         background-color: black;
         padding: 5px;
         padding-left: 10px;
         padding-right: 10px;
         margin-right: 10px;

         border-radius: 10px;
      }
   }

}
