#outerShell {
    display: none;
}

@media screen and ( min-width: 1200px) {

    // #mobile-table-view {
    //     display: none;
    // }

    #outerShell {
        display: block;
        max-width: 1300px;
        border: solid 1px #a4a4a4cb;
        margin: auto;
    }
    
    #imageCon {
        position: relative;
        max-width: 1300px;
        height: 900px;
    }
    
    .slideImage {
        position: absolute;
        left: 0;
        right: 0;
        height: 900px;
    }
    
    .image-right {
        background: url(../images/x-ray_v.1.jpg) no-repeat;
        background-size: contain;
        background-position: center center;
        background-attachment: fixed;
    }
    
    .image-left {
        background: url(../images/earbuds.jpg) no-repeat;
        background-size: contain;
        background-position: center center;
        width: 65%;
        background-attachment: fixed;
    }
    
    .image-drag {
        background-color: #a4a4a4cb;
        left: 65%;
        width: 5px;
        cursor: pointer;
    }

    #slider-dc {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center
    }
}

