
@import"../abstracts/variables.scss";
@import '../abstracts/mixins.scss';

.box1 {
   background-color: #acacac;
}
.box2 {
   background-color: #7e7e7e;
}
.box3 {
   background-color: #3b3b3b;
}
.box4 {
   background-color: #1f1f1f;
}

a {
   color: #fff;
   text-decoration: none;
   cursor: pointer;

   &:hover {
      transition: all .3s ease-in-out;
      color: #cfcfcf;
   }
}


.section {
   text-align: center; 
   #hero-img {
      height: 31.25rem;
      padding-top: 25rem;

      font-size: 1.875rem;
   }

   #value-props-text {
      height: 12.5rem;
      padding-top: 6.25rem;
   }

   #mobile-table-view {
      height: 25rem;
      padding: 3.125rem;
   }

   #sound-effect {
      margin-top: 1.875rem;
   }

   #sound-effect-img {
      border-radius: 0 6.25rem 0 0;
      margin: 1.25rem;
      padding: 6.25rem;
      height: 21.875rem;
   }
   #sound-effect-text {
      margin: 1.25rem;
      padding: 6.25rem;
      height: 21.875rem;
   }

   .mockups {
      height: 18.75rem;
      margin: 1.25rem;
      padding: 9.375rem;

      color: #cfcfcf;
   }

   #buds-color-img {
      padding: 9.375rem;
      color: #cfcfcf;
      height: 23.125rem;
   }

   #buds-color-option ul{
      display: flex;
      align-items: flex-end;
      justify-content: space-evenly;
      color: #1f1f1f;

      margin-top: 1.875rem;


      li {
         height: 3.75rem;
         width: 3.75rem;
         background-color: #8f8f8f;
         border: #424242 0.1875rem solid;
         border-radius: 2.5rem;
         padding: 0.625rem;
         text-align: center;

         &:hover {
            transition: all .2s ease-in-out;
            background-color: #141414;
         }
      }
   }

   .color-concept-imgs {
      display: flex;
      justify-content: space-evenly;

      .c-concept-img {
         height: 9.375rem;
         width: 8.125rem;

         margin-top: 1.875rem;

         @include tablet {
            width: 12rem;
            height: 12rem;
         }
      }
   }

   #promo-reel {
      height: 21.875rem;
      margin-top: 3.125rem;
      padding: 10rem;

      color: #cfcfcf;
   }

}